html{
    background-attachment: fixed;
    background-image: url('https://www.walldevil.com/wallpapers/a18/wallpaper-green-blue-yellow-red-blackwhite28-desktop.jpg');
    background-size: 120%;
}

header{
    position: relative;
    text-align: center;
    font-size: 8em;
    color: white;
    margin: 0 auto;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 3em;
    flex-direction: row;
    padding:5px;
    padding-top: 0px;
}

.container > button{
    flex: 0 2 50%;
    margin: 0 40em;
    padding: 0em;
}

.button{
    position: relative;
    width:225px;
    height:225px;
    margin: .3em .7em;
    box-shadow: 0 5px 0px;
    border-bottom: 1px solid rgba(110, 110, 110, .4);
    border-right: 1px solid rgba(110, 110, 110, .4);
}

.button:hover{
    border-bottom: 2px solid rgba(110, 110, 110, .7);
    border-right: 1px solid rgba(110, 110, 110, .9);
}

.button:active{
  border-bottom: 2px solid;
  border-right: 2px solid;
  transition: all 0.05s ease-in;
  transform:translateY(4px);
  border-bottom-width: 2px;
  box-shadow: none;
  border: none;
  outline:none;
}
.start:focus {
    outline:0;
}

.greenButton{
    background-color: #007000;
    border-top-left-radius: 255px;
    border-left: 1px solid rgba(210, 210, 210, .9);
    margin-right: .4em
}

.redButton{
    background-color: #b30000;
    border-top-right-radius: 255px;
    margin-left: .4em;
}

.yellowButton{
    background-color: #b3b300;
    margin-right: .4em;
    border-bottom-left-radius: 255px;
    border-left: 1px solid rgba(210, 210, 210, .7);
    border-bottom: 1px solid rgba(210, 210, 210, .7);
}

.blueButton{
    background-color: #000080;
    border-bottom-right-radius: 255px;
    margin-left: .4em;
    border-right: 1px solid rgba(210, 210, 210, .5);
    border-bottom: 1px solid rgba(210, 210, 210, .5);
}

h2{
    color: white;
    text-align: center;
    display: inline-block;
}

.time{
    margin: 0em 20em 0em 0em;
    float: right;
    display: inline-block;
}

.round{
    margin: 0em 0em 0em 20em;
    display: inline-block;
}

.scoreLine{
    color: #ffff99;
}

.timeLine{
    color: #ffff99;
}

table{
    background: rgba(1, 43, 57, .4);
    border-radius: 0.25em;
    border-collapse: collapse;
    margin-left: 9em;
}
th {
  border-bottom: 1px solid #364043;
  color: #ffff99;
  font-size: 0.85em;
  font-weight: 400;
  padding: 0.5em 1em;
  text-align: left;
}

td {
  color: #fff;
  font-weight: 200;
  padding: 0.65em 1em;
}

tbody tr {
  transition: background 0.25s ease;
}
tbody tr:hover {
  background: #014055;
}

.start {
	background-color:transparent;
	border-radius:28px;
	border:1px solid #ffffff;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	padding:3px 400px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.start:hover {
	background-color:transparent;
    border-bottom: 2px solid;
    border-right: 2px solid
}
.start:active {
	position:relative;
	top:1px;
}

@media (min-width: 796px) {

    .container > button{
        flex: 0 2 50%;
        margin: 0 0em;
        padding: 0em;
    }
    .time{
        margin: 0em 0em 0em 0em;
        float: right;
        display: inline-block;
    }

    .round{
        margin: 0em 0em 0em 0em;
        display: inline-block;
    }
}
