html{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url('https://www.walldevil.com/wallpapers/a18/wallpaper-green-blue-yellow-red-blackwhite28-desktop.jpg');
}


header{
    text-align: center;
    font-size: 10em;
    color: white;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 3em;
    flex-direction: row;
    padding:5px;
}

.container > button{
    flex: 0 2 50%;
    margin: 0 45em;
    padding: 0em;
}

.button{
    position: relative;
    width:250px;
    height:250px;
    margin: .4em .7em;
    box-shadow: 0 5px 0px;
    border-bottom: 1px solid rgba(179, 179, 179, .6);
    border-right: 1px solid rgba(179, 179, 179, .6);
}

.button:hover{
    border-bottom: 2px solid rgba(179, 179, 179, .8);
    border-right: 2px solid rgba(179, 179, 179, .7);
}

.button:active{
  border-bottom: 2px solid;
  border-right: 2px solid;
  transition: all 0.05s ease-in;
  transform:translateY(4px);
  border-bottom-width: 2px;
  box-shadow: none;
}

.greenButton{
    background-color: #00cc00;
    border-top-left-radius: 255px;
}

.redButton{
    background-color: #cc0000;
    border-top-right-radius: 255px;
}

.yellowButton{
    background-color: #cccc00;
    border-bottom-left-radius: 255px;
}

.blueButton{
    background-color: #000099;
    border-bottom-right-radius: 255px;
}

h2{
    color: white;
    text-align: center;
    display: inline-block;
}

.time{
    margin: 0em 18em 0em 0em;
    float: right;
    display: inline-block;
}

.round{
    margin: 0em 0em 0em 18em;
}
